nav{
    display: flex;
    height: 50px;
    background-color: rgb(0,0,0,.1);
}
nav div img{
    height: 50px;
}
nav #tabs{
    margin-top: 10px;
    font-size: 20px;
}

nav #tabs li{
    display: inline;
    padding-top: 25px;
    margin-left: 50px;
}

nav #help{
    display: flex;
    margin-top: 10px;
    margin-left: 500px;
}

nav #help #user{
    margin-top: -10px;
    font-size: 25px;
    margin-left: 110px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}